.customers {
    margin:0 auto;
    width:70%;
    &-content {
        margin:58px 0px 104px 0px;
    }
    &-title {
        font-family: 'Clash Display';
        font-style: normal;
        font-weight: 600;
        font-size: 35px;
        line-height: 43px;
        width: 398px;
        display: flex;
        justify-content: center;
        margin:0 auto;
        margin-bottom:60px;
        text-align: center;
    }

    &-reviews {
        display:flex;
        justify-content: space-between;

    }
    &-review {
        margin-right:130px;
        width: 360px;
        font-family: 'Inter';
        font-style: normal;
        font-weight: 400;
        font-size: 18px;
        line-height: 28px;
    }
    &-review:last-child {
        margin:0;
    }
    &-name {
        font-family: 'Inter';
        font-style: normal;
        font-weight: 700;
        font-size: 18px;
        line-height: 28px;
        margin: 25px 0 10px 0px;
    }
    &-img {
        display:flex;
        justify-content: center;
        margin-bottom:25px;
    }
}


@media only screen and (max-width:878px) {
    .customers {
        &-title {
            width:100%;
        }
        &-reviews {
            flex-direction: column;
        }
        &-review {
            margin:0 auto;
        }
        &-review:last-child {
            margin: 0 auto;
            padding-top:54px;
        }
    }
}

@media only screen and (max-width:560px) {
    .customers {
        width:85%;
        &-review {
            width: 100%;
        }
        &-title {
            font-family: 'Clash Display';
            font-style: normal;
            font-weight: 600;
            font-size: 28px;
            line-height: 35px;
            text-align: center;
            height: 70px;
        }
    }
}