.footer {
    width:93%;
    margin:0 auto;
    &-content {
        margin-bottom:44px;
    }
    &-content::after {
        border: 1px solid #3E3E3E;
        content: "";
        width: 100%;
        display:flex;
    }
    &-links {
        display:flex;
        justify-content: center;
    }

&-navigation {
    margin-bottom:24px;
    display:flex;
    justify-content: space-between;
    align-items: center;
    &-left {
        display:flex;
        align-items: center;
    }
    &-right {
        width: 192px;
        display:flex;
        justify-content: space-between;
    }
}
&-logo {
    display:flex;
    align-items: center;
    margin-right:100px;
}
.logo-title {
    font-family: 'Inter';
    font-style: normal;
    font-weight: 600;
    font-size: 16px;
    line-height: 19px;
}
&-item {
    list-style: none;
    margin-right:58px;
    transition: transform 0.3s;
    font-family: 'Inter';
    font-style: normal;
    font-weight: 500;
    font-size: 16px;
    line-height: 19px;

}
&-item:last-child {
    margin:0;
}
&-item:hover {
    cursor: pointer;
    transform: scale(1.2);
    
}
}

@media only screen and (max-width:1000px) {
    .footer {
        &-logo {
            margin-right:0px;
        }
    }
}
@media only screen and (max-width:878px) {
    .footer {
        &-item {
            display:none;
        }
    }
}
@media only screen and (max-width:560px) {
    .footer {
        &-navigation {
            flex-direction: column;
            gap:36px;
        }
        &-item {
            display:block;
            margin-right:14px;
        }
        &-content::after {
            display:none;
        }
        .logo-title {
            margin:0;
        }
    }
}