.header {
    font-family: 'Inter';
    font-style: normal;
    font-weight: 600;
    font-size: 16px;
    line-height: 19px;
    width:90%;
    margin:0 auto;
    margin-top:50px;
    height:100vh;
    &-navigation {

        display:flex;
        justify-content: space-between;
        align-items: center;
        &-left {
            display:flex;
            align-items: center;
        }
        &-right {
            .button-start:hover {
                background: #79CB12;
            }
        }
    }
    &-logo {
        display:flex;
        align-items: center;
        margin-right:100px;

    }
    &-link {
        list-style: none;
        margin-right:58px;
        transition: transform 0.3s;

    }
    &-link:last-child {
        margin:0;
    }
    &-link:hover {
        cursor: pointer;
        transform: scale(1.2);
        
    }

    &-content {
        margin-top:52px;
        display:flex;
        justify-content: space-between;
        height: 80%;
    }
    &-left {
        display:flex;
        justify-content: space-between;
        flex-direction: column;
        height:90%;
    }
    &-button {
        .button-start {
            font-family: 'Inter';
            font-style: normal;
            font-weight: 600;
            font-size: 22px;
            line-height: 26px;
        }
        .button-start:last-child {
            background:white;
            margin-left:22px;
        }
        .button-start:hover {
            background: #79CB12;
        }
        .button-start:last-child:hover {
            background: #D1CBCB;
        }
    }
}

.logo {
    margin-right:10px;
    display:flex;
    align-items: center;
    &-title {

        width:100%;
    }
}

.button {
    &-start {
        padding:12px 20px;
        background: #CCFF8B;
        border:none;
        font-family: 'Inter';
        font-style: normal;
        font-weight: 600;
        font-size: 16px;
        line-height: 19px;
    }
    &-start:hover {
        cursor: pointer;
    }
}


.title {
    font-family: 'Clash Display';
    font-style: normal;
    font-weight: 600;
    font-size: 60px;
    line-height: 74px;
}

.description {
    font-family: 'Inter';
    font-style: normal;
    font-weight: 400;
    font-size: 20px;
    line-height: 32px;
}


@media only screen  and (max-width:1401px) {
    .header {
        &-left {
            display:block;
            height: 100%;
        }
        &-right {
            width: 474px;
            height: 542px;
        }
    }
}

@media only screen and (max-width:1201px) {
    .header {
        height: 100%;
        &-content {
            flex-direction: column;
            margin-bottom:52px;
        }
        &-left {
            display:flex;
            flex-direction: column;
            align-items: center;
            margin-bottom:52px;
        }
        &-right {
            width: 280px;
            height: 320px;
            margin: 0 auto;
        }
    }
}

@media only screen and (max-width:1000px) {
    .header {
        &-link {
            display:none;
        }
        &-navigation-right {
            display:none;
        }
    }
}
@media only screen and (max-width:560px) {
    .header {
        &-button {
            display:flex;
            flex-direction: column;
            width: 215px;
            margin-top:15px;
        }
        .button-start {
            margin-bottom:14px;
        }
        .button-start:last-child {
            margin: 0px;
        }
    }
    .title {
        font-family: 'Clash Display';
        font-style: normal;
        font-weight: 600;
        font-size: 38.0172px;
        line-height: 47px;
        text-align: center;
    }
    .description {
        font-family: 'Inter';
        font-style: normal;
        font-weight: 400;
        font-size: 13px;
        line-height: 20px;
        text-align: center;
    }
}