.hosting {
    &-top {
        margin-bottom: 40px;
        display:flex;
        justify-content: space-between;
        align-items: center;
        &-title {
            font-family: 'Clash Display';
            font-style: normal;
            font-weight: 600;
            font-size: 30px;
            line-height: 37px;
        }
        &-description {
            font-family: 'Inter';
            font-style: normal;
            font-weight: 400;
            font-size: 20px;
            line-height: 32px;
            width:60%;
        }
    }
}

@media only screen and (max-width:1000px) {
    .hosting {
        &-top {
            flex-direction: column;
            &-title {
                width: 100%;
                text-align: center;
            }
            &-description {
                text-align: center;
            }
        }
    }
}
@media only screen and (max-width:560px) {
    .hosting {
        &-top {
            &-title {
                font-family: 'Clash Display';
                font-style: normal;
                font-weight: 600;
                font-size: 22px;
                line-height: 27px;
                text-align: center;
            }
            &-description {
                font-family: 'Inter';
                font-style: normal;
                font-weight: 400;
                font-size: 14px;
                line-height: 24px;
                width: 100%;
            }
        }
    }
}