.platform {
    &-content {
        margin: 0 auto;
        display:flex;
        flex-direction: column;
        align-items: center;
        justify-content: center;
    }

    &-top {
        width: 50%;
    }
    &-title {
        font-family: 'Clash Display';
        font-style: normal;
        font-weight: 600;
        font-size: 35px;
        line-height: 43px;
        text-align: center;
    }
    &-description {
        font-family: 'Inter';
        font-style: normal;
        font-weight: 400;
        font-size: 20px;
        line-height: 32px;
        text-align: center;
    }
    &-links {
        display:flex;
        justify-content: space-between;
        margin-top:20px;
        

    }
    &-link {
        font-family: 'Inter';
        font-style: normal;
        font-weight: 500;
        font-size: 20px;
        line-height: 32px;
        text-align: center;
        border-bottom: 1px solid #DCDCDC;
        transition: transform 0.3s;
        text-decoration: none;   
        
    }
    &-link:first-child {
        color: #CCFF8B;
        border-bottom: 1px solid #CCFF8B;
    }
    &-link:hover {
        cursor: pointer;
        color: #CCFF8B;
        border-bottom: 1px solid #CCFF8B;
        transform:scale(1.2);
    }

    &-bottom {
        margin:80px 0px 100px 0;
        display:flex;
        justify-content: space-between;
    }

    &-left {
        display:flex;
        justify-content: center;
        flex-direction: column;
        width:60%;
        &-title {
            font-family: 'Clash Display';
            font-style: normal;
            font-weight: 600;
            font-size: 40px;
            line-height: 49px;
        }
        &-description {
            font-family: 'Inter';
            font-style: normal;
            font-weight: 400;
            font-size: 20px;
            line-height: 32px;
        }
        .button-start {
            width:170px;
        }
        .button-start:hover {
            background: #79CB12;
        }
    }
}


@media only screen and (max-width:1000px) {
    .platform {
        &-bottom {
            flex-direction: column;
            margin:0 auto;
        }
        &-top {
            width:100%;
        }
        &-left {
            width: 100%;
            margin:0 auto;
            display:flex;
            align-items: center;
            
        }
        &-right {
            margin:50px;
        }
    }
}

@media only screen and (max-width:560px) {
    .platform {
        &-title {
            font-family: 'Clash Display';
            font-style: normal;
            font-weight: 600;
            font-size: 23px;
            line-height: 28px;
        }
        &-description {
            font-family: 'Inter';
            font-style: normal;
            font-weight: 400;
            font-size: 14px;
            line-height: 21px;
        }
        &-link {
            font-family: 'Inter';
            font-style: normal;
            font-weight: 500;
            font-size: 12px;
            line-height: 18px;
        }
        &-left {
            &-title {
                font-family: 'Clash Display';
                font-style: normal;
                font-weight: 600;
                font-size: 30px;
                line-height: 37px;
            }
            &-description {
                text-align: center;
                font-family: 'Inter';
                font-style: normal;
                font-weight: 400;
                font-size: 14px;
                line-height: 24px;
            }
        }
        
    }
}